section.about#about
    .container
        .section__logo 
            pre.text-rabbit
                | (\_/)
                | (o.o)
                | (> >)
            h2.section__title Я тут уже изучил пару стратегий

        .timeline
            +timeline("fas fa-search-dollar", "Стратегия DCF-потенциала")
                p Оценка на основе модели дисконтирования
                    br
                    | будущих денежных потоков
            +timeline("fas fa-business-time", "Стратегия DSI")
                p Стабильность выплаты дивидендов
                    br
                    | (меньше 0,65 не включал в анализ)
            +timeline("fas fa-chart-line", "Модель Гордона")
                p Дивидендная доходность + рост стоимости акций

        .section__logo 
            pre.text-rabbit
                | (\_/)
                | (o.o)
                | (v v)
        .section__title--sub На сайте ДОХОД сформировал сравнительную таблицу
        p.text.center Зелёным маркером выделил первые три лучших значения по каждому показателю
        .about__table
            img(src="./img/table.png" alt="table")

        .section__logo 
            pre.text-rabbit
                | (\_/)
                | (o.o)
                | (^ ^)

        .about__result
            p.text
                | Смотри: все три значения в зелёной зоне у &nbsp;
                i(class="fas fa-gas-pump") &nbsp;
                | Газпрома и &nbsp;
                i(class="fas fa-oil-can") &nbsp;
                | Лукойла.
                br
                | Заглянул на Finrange и Smart-lab - есть потенциал к росту.
                br
                | Может быть, банально, но нефтегаз беру в портфель.
                br
                | Но для нефтегаза можно просто купить FXRL. Поэтому следующий сектор на очереди - телекомы.&nbsp;

            p.text.center
                i(class="fas fa-broadcast-tower") &nbsp;
                | МТС в частности. Посмотрел новости, верю в потенциал. После "узбекского дела" восстанавливается.

            p.text
                | А вообще, диверсификацию активов никто не отменял, поэтому за балансом надо следить.

        .section__logo
            pre.text-rabbit
                | (\_/)
                | (o.o)
                | (> <)
        .section__title--sub Спасибо, Джимми, что помог, я побежал.
            br 
            | Акции телекомов покупать!

        .header__img.the-end
            img(src="./img/2.png")

        .the-end
            h2.section__title The End

