section.use-area#use-area
    .container
        .section__logo 
            pre.text-rabbit
                | (\_/)
                | (O.o)
                |<(    )>
            h2.section__title Не могу определиться
        .row
            +use-area("fas fa-burn", "Нефтегаз")
            +use-area("fas fa-piggy-bank", "Банки")
            +use-area("fas fa-charging-station", "Э/генерация")
        .row
            +use-area("fas fa-broadcast-tower", "Телекомы")
            +use-area("fas fa-laptop-code", "Информационные технологии")
            +use-area("fas fa-bus-alt", "Транспорт")
        .row
            +use-area("fas fa-shopping-cart", "Ретейл")
            +use-area("fas fas fa-hammer", "Строительство")

        .section__logo 
            pre.text-rabbit
                | (\_/)
                | (o.O)
                |<(    )>
            p И мого других отраслей!

