.timeline {
    margin: 0 auto;
    margin-bottom: 50px;

    width: 250px;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        margin-bottom: 70px;

        width: unset;
    }

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        margin-bottom: 100px;
    }
}

.timeline__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-bottom: 30px;

    &::before {
        content: "";
        position: absolute;
        border: 1px dashed #000;
        top: 100%;
        bottom: -30px;
        left: 16px;
        z-index: -1;
    }

    &:last-child {
        margin-bottom: 0;

        &::before {
            display: none;
        }
    }

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        justify-content: flex-end;
        align-items: center;

        margin-bottom: 60px;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        &::before {
            content: "";
            position: absolute;
            border: 1px dashed #000;
            top: 100%;
            bottom: -60px;
            left: 50.5%;
            z-index: -1;
        }
    }

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
    }
}

.timeline__row-icon {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    text-align: center;
    width: 40px;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        margin-right: 35px;
        margin-top: 10px;
        margin-bottom: 10px;

        width: 70px;
        font-size: 70px;
    }
}

.timeline__row:nth-child(even) .timeline__row-icon {
    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        margin-right: 0;
        margin-left: 35px;
    }
}

.timeline__row-text {
    text-align: left;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        width: 495px;
    }
}

.timeline__row:nth-child(even) .timeline__row-text {
    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        text-align: right;
        width: 495px;
    }
}

.timeline__row-text-heading {
    margin-bottom: 5px;
    font-family: "Amatic SC", cursive;
    font-size: 25px;
    font-weight: bold;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        font-size: 40px;
    }
}

.timeline__row-text-desc {
    font-family: "Amatic SC", cursive;
    font-size: 20px;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        font-size: 35px;
    }
}

.timeline__row-text-desc p {
    font-size: 18px;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        font-size: 35px;
    }
}

.timeline__row-text-desc i {
    vertical-align: middle;
    font-size: 15px;
}
